@{
    ViewBag.Title = "Index";
}
<script src="Scripts/jquery.signalR-1.0.1.min.js" type="text/javascript"></script>
@*    SignalR dinamiski izveidotais fails*@
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="~/Scripts/SignalRMethods.js"></script>
@*Uz ielādi, izsaucam*@

<script type="text/javascript">
    RegisterNewClient();
</script>


    <table id="SendMsgContext">
        <tr>
            <td   style="table-layout:fixed" class="tableBorders FriendlyBackground box">
               <div id="GlobalMessages">
                 @* Globālā čata ziņas*@
                <div class="GlobMsg" style="color:#cbcbcb"> System: v1.130410.1  </div>
                   </div>
            </td>
            <td  id="ActiveUserCount" rowspan="2" class="tableBorders FriendlyBackground UserList">
                @* Aktīvo lietotāju saraksts*@

            </td>
        </tr>
        <tr>
            <td>
                @* Sūtīt ziņu*@
                <div id="SendForm">
                    <table id="InputElem" class="tableBorders FriendlyBackground">
                        <tr>
                            <td>
                                @Html.TextBox("GlobalMsgText")
                            </td>
                            <td>
                                <input class="button" type="button" value="Sūtīt" onclick="SendGlobalMessage($('#GlobalMsgText'))" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        $('#GlobalMsgText').keyup(function (event) {
            if (event.keyCode == 13) {
                SendGlobalMessage($('#GlobalMsgText'))
            }
        });
    </script>
