@{
    Layout = null;

    var request = HttpContext.Current.Request;
    var appUrl = HttpRuntime.AppDomainAppVirtualPath;
    var baseUrl = string.Format("{0}://{1}{2}", request.Url.Scheme, request.Url.Authority, appUrl);
}
<script src="~/Scripts/Account.js"></script>
<div id="AccountForm">
    @if (!Request.IsAuthenticated)
    {
        <table>
            <tr>
               
                <td><input class="text-box single-line" id="Id" name="Id" maxlength="10" type="text" value=""></td>
                <td>
                    <input class="button" type="button" value="Ienākt" onclick="CallServerLogin('@baseUrl');" />
                </td>
            </tr>
        </table>
    }
    else
    {
        <span><em> Sveiks, <b>@User.Identity.Name ! </b> </em>
       <input class="button" type="button" onclick="javascript:CallServerSignOut('@baseUrl');" value="Iziet" />
            </span>
    }
</div>
